@import '../../node_modules/normalize.css';

$color-white: #fff;
$color-gray--bright: #f2f3f5;
$color-gray--dark: #111;
$color-blue: #1fa7d1;

$transition: 300ms ease-in-out;

html,
body {
    box-sizing: border-box;
    background-color: $color-white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $color-gray--dark;
}

button {
    cursor: pointer;
}

.dashboard {
    $gap: 30px;

    max-width: 1200px;
    width: 100%;
    margin: $gap auto;

    &__container {
        padding: 0 $gap;
    }
}

.header {
    margin-bottom: 18px;
}

.title {
    margin: 0;
    font-size: 20px;
}

.nav {
    margin: 30px 0 40px;
    display: flex;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        border: 1px solid $color-blue;
        border-radius: 5px;
        display: flex;
        overflow: hidden;

        @media (max-width: 768px) {
            flex: 1 1 auto;
        }
    }

    &__el {
        flex: 1 1 auto;
    }

    &-button {
        width: 100%;
        padding: 12px 20px;
        font-weight: 700;
        color: $color-blue;
        border: none;
        background-color: inherit;
        transition: color $transition, background-color $transition;
        display: inline-block;

        &.active {
            color: $color-white;
            background-color: $color-blue;
            pointer-events: none;
        }
    }
}

.cleanings {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;

    &__table {
        $spacing: 15px;

        width: 100%;
        margin: 0 (-$spacing);
        text-align: left;

        th,
        td {
            white-space: nowrap;

            &:last-child {
                text-align: right;
            }
        }

        th {
            padding: 0 $spacing 15px;
        }

        td {
            padding: 20px $spacing;
        }
    }

    &__head,
    &__group {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color-gray--bright;
        }
    }

    &__group {
        &:last-of-type {
            &::after {
                display: none;
            }
        }
    }
}
